.edit-mode-bar-container {
    position: absolute;
    left: 50%;
    bottom: 250px;
    padding: 10px 20px;
    background: #80808046;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 9999;
}

.edit-mode-bar-container button {
    margin: 5px 15px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #d39802;
    font-size: 16px;
    font-weight: 800 !important;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #ffffff;
    transition: all 0.3s;
}

.edit-mode-bar-container button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

.edit-mode-bar-container button:disabled {
    background: #ccc;
    color: #000;
}

.edit-mode-bar-container .add-btn {
    background: #4CAF50;
    color: #fff;
}

.edit-mode-bar-container .delete-btn {
    background: #f44336;
    color: #fff;
}

.pasture-message{
    color: #222 !important;
    text-transform: capitalize;
    font-weight: 800 !important;
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.point-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-btn-group button{
    min-width: 45%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #ffffff;
    transition: all 0.3s;
}


.done-btn, .back-btn, .cancel-btn {
    /* background: #0e5501 !important; */
    /* color: #fff !important; */
    font-weight: 600 !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 10px !important;
    margin: 10px 0 !important;
    box-sizing: border-box !important;
    transition: all 0.3s ease !important;

}

.done-btn {
    background: #0e5501 !important;
    color: #fff !important;
}

.back-btn {
    background: #ffffff !important;
    color: #000 !important;
}

.cancel-btn {
  background-color: #E5E7EB !important; /* neutral light grey */
  color: #374151 !important; /* dark grey text */
}

.cancel-btn:hover {
  background-color: #D1D5DB !important;
}

.delete-message {
    color: #222 !important;
    text-transform: capitalize;
}