.modal-content{
    margin-top: 10px;
}

.modal-content input {
    margin: 10px 0 10px 10px;
    width: 55%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.modal-content .input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content button {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
}

.animal-item{
    border-bottom: 2px solid #ccc;
    padding: 0 0 10px 0;
}

.animal-item h3{
    margin: 10px 0;
    padding: 0;
}

.animal-item p{
    margin: 0;
    padding: 0;
}

.pasture-btn{
    position: sticky;
    width: 100%;
    bottom: 5px;
    margin: 0 auto;
    background: #0e5501 !important;
}


.modal-btn-group button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 5px 0px;
    box-sizing: border-box;
    background: #0e5501;
    color: #fff;
    transition: all 0.3s ease;
}

.modal-btn-group button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.modal-btn-group button:disabled{
    background: #ccc !important;
    color: #000 !important;
    transform: scale(1);
}

.animal-btn-group{
 position: absolute;
 width: 90%;
 bottom: 10px;
}

.animal-btn-group button{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    margin: 5px 0
}

.relocate-modal h3 {
    margin: 0;
    padding: 0;
    color: #000;
    text-align: center;
}

.go-back-btn {
    display: flex;
    align-items: center;
    height: 10px !important;
    background: none !important;
    border: none !important;
    color: #000000 !important;
    font-size: 14px !important;
    padding: 0 !important;
    cursor: pointer;
}

.go-back-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

