.modal-content{
    margin-top: 10px;
}

.modal-content input {
    margin: 10px 0 10px 10px;
    width: 55%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.modal-content .input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content button {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
}

.animal-item{
    border-bottom: 2px solid #ccc;
    padding: 0 0 10px 0;
}

.animal-item h3{
    margin: 10px 0;
    padding: 0;
}

.animal-item p{
    margin: 0;
    padding: 0;
}


.button-group{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.button-group button{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0 5px;
    box-sizing: border-box;
    background: #000000;
    color: #fff;
}